/* line 6, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../scss/style.scss */
body {
  background-color: #607D8B;
}
/* line 11, ../scss/style.scss */
body .latest-changes {
  width: 100%;
  height: 50px;
  background-color: #253137;
  padding-left: 50px;
}
/* line 16, ../scss/style.scss */
body .latest-changes #HW_badge_cont::before {
  content: 'Updates';
  padding: 15px;
  color: #6C7A82;
  display: inline-block;
  margin-left: 20px;
}
/* line 23, ../scss/style.scss */
body .latest-changes #HW_badge.HW_softHidden {
  background: #FFAA00;
  opacity: 1;
  transform: scale(0.6);
}

/* line 30, ../scss/style.scss */
.o-center {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
/* line 38, ../scss/style.scss */
.o-center .calculator {
  width: 226px;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  transition: 500ms ease-in-out;
}
/* line 49, ../scss/style.scss */
.o-center .calculator .output {
  width: 226px;
  height: 50px;
  border: 1px solid #ffaa00;
  background-color: #232323;
  color: #ffaa00;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: sans-serif;
  padding-right: 6px;
  text-shadow: -1px 1px 1px #000000;
  border-bottom-color: #FFCC65;
}
/* line 63, ../scss/style.scss */
.o-center .calculator .output:before {
  content: "\f06d FreeCodeCamp Calculator";
  font-family: "FontAwesome";
  margin-bottom: 69px;
  margin-right: 51px;
  font-size: 0.6em;
  color: floralwhite;
}
/* line 71, ../scss/style.scss */
.o-center .calculator .keypad {
  display: flex;
  width: 226px;
  background-color: #ffaa00;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
  border: 9px solid #ffaa00;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* line 82, ../scss/style.scss */
.o-center .calculator .keypad .press {
  font-size: 1em;
  width: 50px;
  height: 50px;
  margin: 1px;
  background-color: floralwhite;
  transition: 100ms ease-in-out;
}
/* line 90, ../scss/style.scss */
.o-center .calculator .keypad .press:hover {
  background-color: white;
  color: #1565C0;
}
/* line 94, ../scss/style.scss */
.o-center .calculator .keypad .press:active {
  background-color: white;
  color: #000;
  font-size: 1.4em;
}
/* line 99, ../scss/style.scss */
.o-center .calculator .keypad .btl {
  border-bottom-left-radius: 5px;
}
/* line 102, ../scss/style.scss */
.o-center .calculator .keypad .btr {
  border-bottom-right-radius: 5px;
}
/* line 105, ../scss/style.scss */
.o-center .calculator .keypad .tpr {
  border-top-right-radius: 5px;
}
/* line 108, ../scss/style.scss */
.o-center .calculator .keypad .tpl {
  border-top-left-radius: 5px;
}
/* line 111, ../scss/style.scss */
.o-center .calculator .keypad .oprtrCalc {
  border-left: 4px solid floralwhite;
  transition: 100ms ease-in-out;
}
/* line 115, ../scss/style.scss */
.o-center .calculator .keypad .oprtrCalc:hover {
  border-left-color: #00BCD4;
}
/* line 118, ../scss/style.scss */
.o-center .calculator .keypad .oprtrCalc:active {
  border-left-color: #000;
}
/* line 121, ../scss/style.scss */
.o-center .calculator .keypad .num-calc {
  border-top: 4px solid floralwhite;
}
/* line 124, ../scss/style.scss */
.o-center .calculator .keypad .num-calc:hover {
  border-top-color: #fa0000;
}
/* line 127, ../scss/style.scss */
.o-center .calculator .keypad button {
  border: 0;
  outline-style: none;
}
/* line 133, ../scss/style.scss */
.o-center .calculator:hover {
  box-shadow: 1px 10px 20px transparent;
}
/* line 136, ../scss/style.scss */
.o-center .hdr {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
